<div class="m-5 border-2 rounded-md shadow-sm">
  <div class="m-2">
    <div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Candidaturas</h1>
      <p class="mt-2 text-sm text-gray-700">Candidaturas de interesse realizadas.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
     <%# TODO: "Verificar se precisa desse botao" link_to "Definir botao kkk", '', class: "block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Nome aluno</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Telefone</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Cursos de interesse</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Data de inscrição</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Contatado?</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Botão</span>
              </th>
            </tr>
          </thead>
      <tbody class="bg-white">
        <% if @enrollments.any? %>
          <% @enrollments.each do |enrollment| %>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"><%= link_to enrollment.user.name, edit_admin_student_path(enrollment.user) %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= enrollment.user.email %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= enrollment.user.phone %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= Course.where(id: enrollment.course_ids.split(',')).map(&:name).to_sentence %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= l enrollment.user.created_at, format: :long %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <% if enrollment.user.contacted?%>
                  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Sim</span>
                <% else %>
                  <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">Não</span>
                <% end %>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                <%# TODO: "adicionar botao para remover da listagem?" link_to "Contato realizado", '', class: "text-red-600 hover:text-red-900" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tr class="even:bg-gray-50">
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3" colspan="4">Nenhuma candidatura localizada.</td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
