<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Krypton treinamentos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# <link rel="manifest" href="/manifest.json"> %>
    <%= favicon_link_tag 'logo_krypton.jpg', class: "rounded-full" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <div>
      <%= render "shared/navbar" %>
      <%= render "shared/alerts" %>
    </div>
    <main class="min-h-screen bg-gray-50">
      <%= yield %>
    </main>
    <div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
